 В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [2]:
import pandas as pd
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  robot

In [3]:
pd.get_dummies(data['whoAmI'])

    human  robot
0   False   True
1   False   True
2    True  False
3   False   True
4   False   True
5    True  False
6   False   True
7    True  False
8    True  False
9   False   True
10   True  False
11  False   True
12   True  False
13  False   True
14   True  False
15   True  False
16   True  False
17   True  False
18  False   True
19  False   True

1 вариант

In [4]:
data.loc[data['whoAmI'] == 'human', 'human'] = True
data.loc[data['whoAmI'] != 'human', 'human'] = False
data.loc[data['whoAmI'] == 'robot', 'robot'] = True
data.loc[data['whoAmI'] != 'robot', 'robot'] = False

data.head(20)

data[data.columns[1:]]

    human  robot
0   False   True
1   False   True
2    True  False
3   False   True
4   False   True
5    True  False
6   False   True
7    True  False
8    True  False
9   False   True
10   True  False
11  False   True
12   True  False
13  False   True
14   True  False
15   True  False
16   True  False
17   True  False
18  False   True
19  False   True

2 вариант

In [5]:
list1 = list(data["whoAmI"].unique())
for i in list1:
    data.loc[data['whoAmI'] == i, i] = True
    data.loc[data['whoAmI'] != i, i] = False


data.head(20)

data[data.columns[1:]]

    human  robot
0   False   True
1   False   True
2    True  False
3   False   True
4   False   True
5    True  False
6   False   True
7    True  False
8    True  False
9   False   True
10   True  False
11  False   True
12   True  False
13  False   True
14   True  False
15   True  False
16   True  False
17   True  False
18  False   True
19  False   True